.footer-container p {
	margin-bottom: 0;
}

.red-ul {
    list-style-type: none;
    color: #ff0101;
    padding-left: 15px;
}

.product-img {
	display: block;
	padding: 5px 0px 15px 0px;
	background-color: #d4d4d4;
}

.page-row a {
	display: block;
	margin-bottom: 5px;
}