.content-container a
{
    display: block;
}

.filters {
	max-width: 140px;
	border-right: 5px solid #060e21;
    padding: 10px 20px 10px 20px;
}

.filters a, .filters p {
	color: #00012a;
    font-weight: 600;
    text-decoration: none;
    margin: 5px 0px 0px 0px;
    cursor: pointer;
}

.products {
	padding: 10px 10px 10px 25px;
	margin-right: 10px;
}

.product {
	max-width: 200px;
	min-width: 83px;
	max-height: 340px;
	margin: 10px;
	padding: 10px 5px 10px 5px;
	background-color: #d0d7da;
	border: 1px solid #b4b4b4;
	text-align: center;
	overflow-x: hidden;
}

.catalog-img-container {
	max-height: 342px;
    margin: 0px 10px 0px 10px;
}

.catalog-img-container img {
	max-width: 100%;
	max-height: 157px;
	height: auto;
}

@media screen and (min-width: 768px) {
    .catalog-img-container {
		min-height: 158px;
	}
}

@media screen and (max-width: 767px) {
    .catalog-img-container {
		min-height: 58px;
	}

	.tobasket p {
		display: none;
	}
}

@media screen and (max-width: 400px) {
    .filters {
		max-width: 400px;
		border-right: none;
		border-bottom: 5px solid #060e21;
	    padding: 10px 20px 10px 20px;
	}
}

.catalog-fiol {
    margin: 0px;
    color: #670057;
    font-weight: 600;
    text-decoration: none;
    display: block;
}

.catalog-fiol img {
    width: 12px;
    height: 12px;
}

.catalog-name {
    white-space: nowrap;
}

.catalog-see {
    color: #0000ff;
    font-weight: 600;
}

.catalog-tobasket {
    padding: 5px 0px 5px 0px;
    margin: 0 auto;
    max-width: 130px;
    cursor: pointer;
    background: #00c2f2;
    border: none;
    border-radius: 10px;
    outline: 0;
    box-shadow: inset rgba(200,200,200,0.2) 4px  4px 18px 5px, inset rgba(0,0,0,0.3) -8px -8px 18px 5px;
}

.catalog-tobasket p {
    display: inline-block;
    color: white;
    margin: 0px;
}

.catalog-tobasket img {
    display: inline-block;
    max-width: 25px;
    max-height: 25px;
}

.catalog-tobasket:hover {    
    background: #2b28b1;
}  
    
.catalog-tobasket:active,
.catalog-tobasket:focus {  
    background: #0400c1;
    outline: 0;  
}